!! special
URxvt.underlineColor:    #4682B4
URxvt.highlightColor:    #666666
URxvt.throughColor:      #4682B4
URxvt.colorIT:      	 #4682B4
URxvt.colorBD:      	 #F9F9F9
URxvt.colorUL:      	 #87afd7

! special
*.foreground: #CBCCC6
*.background: #0A0E14
*.cursorColor: #afbfbf

! black
*.color0: #1D202F
*.color8: #1D202F

! red
*.color1: #FF3333
*.color9: #FF3333

! green
*.color2: #C2D94C
*.color10: #C2D94C

! yellow
*.color3: #E6B450
*.color11: #E6B450

! blue
*.color4: #39BAE6
*.color12: #39BAE6

! magenta
*.color5: #A37ACC
*.color13: #A37ACC

! cyan
*.color6: #59C2FF
*.color14: #59C2FF

! white
*.color7: #B3B1AD
*.color15: #CBCCC6

!! URxvt Appearance
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 12
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
URxvt.scrollBar: false
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.cursorBlink: true
URxvt*scrollTtyKeypress: true
URxvt*scrollWithBuffer: true
URxvt*scrollTtyOutput: false

! fonts
URxvt.font: xft:Iosevka Term:style=Medium Extended:size=11
URxvt.boldFont: xft:Iosevka Term:style=Bold Extended:size=11
URxvt.italicFont: xft:Iosevka Term:style=Italic Extended:size=11
URxvt.boldItalicFont: xft:Iosevka Term:style=Bold Italic Extended:size=11

! perl extensions
URxvt.perl-ext: default,url-select,keyboard-select

! url select
URxvt.keysym.M-r: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

! keyboard select
URxvt.keysym.M-c: perl:keyboard-select:activate

!! Sxiv
Sxiv.font: Iosevka-11
